In [2]:
# Mahesh Kumar
# Q1 (Regex)

In [3]:
import re
#Sentences
sent1 = "Today’s date is 02/20/2019"
sent2 = "Today the date is 3/13/2019"

#Finding and printing pattern using regular expression
print(re.findall(r'(\d+/\d+/\d+)',sent1))
print(re.findall(r'(\d+/\d+/\d+)',sent2))

['02/20/2019']
['3/13/2019']

In [4]:
# Q2 (Regex)

In [5]:
#Sentences
sent3 = "Today’s date is 12/5/2oo7"
sent4 = "Today’s date is 6/5/2017"
sent5 = "Today’s date is 1/1/20o7"
sent6 = "Today’s date is 10/1/2o09"
sent7 = "Today’s date is 1o/1/2o09"#if 'o' appears in dd 

#Finding and printing pattern using regular expression
print(re.findall(r'(\w+/\w+/\w+)',sent3))
print(re.findall(r'(\w+/\w+/\w+)',sent4))
print(re.findall(r'(\w+/\w+/\w+)',sent5))
print(re.findall(r'(\w+/\w+/\w+)',sent6))
print(re.findall(r'(\w+/\w+/\w+)',sent7))

['12/5/2oo7']
['6/5/2017']
['1/1/20o7']
['10/1/2o09']
['1o/1/2o09']

In [6]:
# Q3 (Regex)

In [7]:
#Sentence
sent8 = "The stocks AAPL, BAC, and GE rallied in the market last week"

#Finding and printing pattern using regular expression
re.findall(r'([A-Z]{2,})',sent8)

['AAPL', 'BAC', 'GE']

In [8]:
# Q4 (Regex)

In [9]:
#Sentence
sent9 = "The markets listened to what Jerome Powell was going to say following the press conference with Mario Draghi"

#Finding and printing pattern using regular expression
re.findall(r'([A-Z][a-z]+\s[A-Z][a-z]+)',sent9)

['Jerome Powell', 'Mario Draghi']

In [10]:
# Q5 (Tfidf)

In [11]:
#Load data
import pandas as pd
df=pd.read_csv("FOMC_minutes.csv")
df.head(1)

       date                                         statements
0  2/4/1994  Chairman Alan Greenspan announced today that t...

In [12]:
#Preprocessing

In [13]:
#Noise Removal

#Case-sensitivity - convert token to lower case
df['noise_free_text'] = df['statements'].str.lower()

#Punctuation - remove punctuations from string terms in dataframe
df['noise_free_text'] = df['noise_free_text'].str.replace('[^\w\s]','')

#Other Noise - Remove numbers from string terms in dataframe
df['sent_without_digits'] = df['noise_free_text'].str.replace('\d+', '')

# Import stopwords with nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')

#Remove stopwords from string terms in dataframe
df['sent_without_stop'] = df['sent_without_digits'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df.head(1)

,date,statements,noise_free_text,sent_without_digits,sent_without_stop
0,2/4/1994,Chairman Alan Greenspan announced today that t...,chairman alan greenspan announced today that t...,chairman alan greenspan announced today that t...,chairman alan greenspan announced today federa...

In [14]:
# Importing whitespace tokenizer and Wordnet Lemmatizer from nltk
import nltk
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

#Normalization - lemming
df['text_lemmatized'] = df.sent_without_stop.apply(lemmatize_text)

#Combining lemmatized tokens into string and rewriting column 'text_lemmatized' in the datatframe
df['text_lemmatized'] = df['text_lemmatized'].str.join(" ") 
df.head(1)

,date,statements,noise_free_text,sent_without_digits,sent_without_stop,text_lemmatized
0,2/4/1994,Chairman Alan Greenspan announced today that t...,chairman alan greenspan announced today that t...,chairman alan greenspan announced today that t...,chairman alan greenspan announced today federa...,chairman alan greenspan announced today federa...

In [15]:
#Deploying Tf-idf method
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()
x = v.fit_transform(df['text_lemmatized'])

In [16]:
#Displaying Tf-idf matrix as a dataframe
tfidf_dataframe=pd.DataFrame(columns=v.get_feature_names(),data=x.toarray())
tfidf_dataframe

,aaaaaarated,abate,abating,ability,abroad,abroadcontinue,absence,absent,accelerated,accelerates,...,winter,work,worker,working,would,written,year,yellen,yet,york
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.065221,0.0,0.0,0.074322
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.093893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.052157,0.0,0.0,0.000000
164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.049110,0.0,0.0,0.000000

In [17]:
#What is the size of the resulting matrix? What is the maximum value and the lowest value of the matrix?
#Interpret the resulting matrix. What do the rows and columns represent? What does each value in the matrix 
#represent? What does it mean when a word has the highest TF-IDF value across the corpus? What does the lowest value represent?
#=>(See answers at the end)

In [18]:
#printing shape of the dataframe
tfidf_dataframe.shape

(165, 1498)

In [19]:
tfidf_dataframe.min(axis=0)

aaaaaarated    0.0
abate          0.0
abating        0.0
ability        0.0
abroad         0.0
              ...
written        0.0
year           0.0
yellen         0.0
yet            0.0
york           0.0
Length: 1498, dtype: float64

In [20]:
tfidf_dataframe.max().sort_values(ascending=False)

facility           0.441654
bank               0.409845
maturity           0.405763
arrangement        0.404926
central            0.373854
                     ...
efficacy           0.047662
turn               0.047662
contingent         0.047662
preset             0.047662
stillincreasing    0.047662
Length: 1498, dtype: float64

In [21]:
####**********INTERPRETATION**********

#The resulting Tfidf matrix is 165 x 1498 (rows x columns) in size.
#This means that there are 165 documents in the corpus FOMC_minutes and after preprocessing the documents, the 
#number of tokens found throughout the text equals 1498.
#Such as: "banking", "facility", etc. (see output 16)

#The 'v.get_feature_names()' gives a union set of all tokens in the corpus and they have been input as 
#column names to the dataframe 'tfidf_dataframe'

#Tfidf algorithm penalizes words with higher frequency across the corpus. Thus tfidf identifies 'important' terms 
#in a document based on its inter & intra document count. 

#The minimum value is 0 (for words such as: ability, abroad, written, year, etc).
#The top 3 maximum values are:
##(1)facility           0.441654
##(2)bank               0.409845
##(3)maturity           0.405763

#A value of 0 implies that either the term/token occurs in all the documents or its frequency within that document is 0
#i.e. =>> [tf = 0] OR [idf = 0]
# tf = frequency of term in that document
# idf = log (total # of document / # of documents with that particular term)
#log(1) = 0

#Whereas, a maximum value would imply that both tf and idf are non-zero (as high as possible)

#Since min & max is dependent on the multiplication of two terms - to look at tf_idf more technically, we'll need to take
#the first differential of the equation (that defines tfidf) and solve it using an inequality while making sure that the 
#second differential is greater than 0 (in order to maximize the output)